package ${rdPackageName}.controller.inner;

#if($api.cache)
import com.kk.mumuchat.common.core.web.result.R;
import com.kk.mumuchat.common.log.annotation.Log;
import com.kk.mumuchat.common.log.enums.BusinessType;
import org.springframework.web.bind.annotation.GetMapping;
#end
import io.swagger.v3.oas.annotations.Operation;
import com.kk.mumuchat.common.security.annotation.InnerAuth;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestMapping;
import ${rdPackageName}.controller.base.B${ClassName}Controller;

/**
 * ${moduleFunctionName}管理 | 内部调用 业务处理
 *
 * @author ${author}
 */
@InnerAuth
@RestController
@RequestMapping("/inner/${businessName}")
public class I${ClassName}Controller extends B${ClassName}Controller {
#if($api.cache)

    @Override
    @GetMapping("/refresh")
    @Operation(summary = "刷新${functionName}缓存 | 内部调用")
    @Log(title = "${functionName}管理", businessType = BusinessType.REFRESH)
    public R<Boolean> refreshCacheInner() {
        return super.refreshCacheInner();
    }
#end
}
